*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right,#000000,rgb(69 82 102));
    height: 100vh;
}
.header{
    position: relative;
    height: 61px;
    margin-bottom: 20px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
.logo{
    padding: 15px;
    display: flex;
    margin-left: 20px;
}
.container{
    width: 100%;
    position: relative
}
.logo h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: italic;
    letter-spacing: .5px;
    color: white;
}
.logo i{
    color: #fff;
    font-size: 40px;
    margin-right: 10px;
}
hr{   
    width: 83%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;

}
@media (max-width: 768px) {
    .logo{
        display: flex;
        justify-content: center;
        margin: 0;
    }
  }
.calculator{
background-color:#343c47;
width: 400px;
padding: 50px 30px;
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
border: 1px solid rgb(124, 124, 124);
box-shadow: 6px 6px 6px rgb(0, 0, 0,0.6);
}
@media (max-width: 992px){
    .calculator{
        width: 50%;
    }
  }
  @media (max-width: 768px){
    .calculator{
        width: 84%;
    }
  }
.display{
    width: 100%;
}
.display input{
    width: 100%;
    padding: 15px 10px;
    text-align:right;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(124, 124, 124);
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.button{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
   
}
.button button:hover{
    background-color:rgb(64, 64, 103) ;
}
.button button{
padding: 17px;
border: 1px solid rgb(124, 124, 124) ;
font-size: 18px;
font-weight: bold;
color: white;
background-color: #343c47;
cursor: pointer;
}
.button button.equal{
    display: grid;
    grid-column: span 2;
    background-color: rgb(64, 64, 103);
}